<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.conferenceapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ConferenceApp"
        android:name=".Global">
        <activity android:name=".AddMessengerPage"></activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.ConferenceApp.NoActionBar" />
        <activity
            android:name=".OrganizerPage"
            android:label="@string/title_activity_organizer_page"
            android:exported="true"
            android:theme="@style/Theme.ConferenceApp.NoActionBar"/>
        <activity
            android:name=".SpeakerPage"
            android:exported="true"
            android:label="@string/title_activity_speaker_page"
            android:theme="@style/Theme.ConferenceApp.NoActionBar" />
        <activity android:name=".MessageSendPage" />
        <activity android:name=".SignUp" />
        <activity android:name=".EventSignUpPage" />
        <activity android:name=".AttendeePage" />
        <activity android:name=".MessagePage" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.ConferenceApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>